apiVersion: v2
name: crowdwire
description: A Parent Helm chart for Crowdwire microservices' charts

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.16.0"

#All CrowdWire micro-services Helm Charts that are needed

dependencies:
- name: postgresql
  repository: file://subcharts/postgresql
  version: 10.3.11
  condition: postgresql.enabled
- name: redis
  repository: file://subcharts/redis
  version: 12.9.0
  condition: redis.enabled
- name: rabbitmq
  repository: file://subcharts/rabbitmq
  version: 8.11.3
  condition: rabbitmq.enabled
- name: api
  repository: file://subcharts/api
  version: 0.1.0
  condition: api.enabled
- name: frontend
  repository: file://subcharts/frontend
  version: 0.1.0
  condition: frontend.enabled
