version: 2.1
orbs:
  jira: circleci/jira@1.3.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: docker build -t ubuntu-test:latest api/
      - run: docker build -t ubuntu-test:latest api/
      - jira/notify