{{- if .Values.ingress.enabled }}
#Contains the paths for each service to be exposed 
{{- $fullName := include "crowdwire.fullname" . -}}
{{- $_ := set . "frontend_path" "/(.*)" -}}
{{- $_ := set . "api_path" "/api/v1/?(.*)" -}}


{{- if semverCompare "<1.14-0" .Capabilities.KubeVersion.GitVersion }}
apiVersion: extensions/v1beta1
{{- else if semverCompare "<1.19-0" .Capabilities.KubeVersion.GitVersion }}
apiVersion: networking.k8s.io/v1beta1
{{- else }}
apiVersion: networking.k8s.io/v1
{{- end }}  
kind: Ingress
metadata:
  name: "{{ $fullName }}"
  labels:
{{ include "crowdwire.labels" . | indent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  - http:
      paths:
      - path: {{ .frontend_path }}
        pathType: Prefix
        backend:
          service:
            name: {{ template "frontend.servicename" (dict "Values" $.Values.frontend "Chart" (dict "Name" "frontend") "Release" $.Release) }}
            port:
              number: {{ .Values.global.frontend.exposePort}}
      - path: {{ .api_path }}
        pathType: Prefix
        backend:
          service:
            name: {{ template "api.servicename" (dict "Values" $.Values.api "Chart" (dict "Name" "api") "Release" $.Release) }}
            port:
              number: {{ .Values.global.api.exposePort}}
{{- end}}
