
name: Push to DockerHub

on:
  push:
      branches:
          - develop
  pull_request:
      branches:
          - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}   
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}  
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build FastAPI
      run: |
        docker build ./api -t dagomes/api:latest 
    - name: Build MediaSoup
      run: |
        docker build ./media_server -t dagomes/mediaserver:latest 
    - name: Build Frontend
      run: |
        docker build ./frontend -t dagomes/frontend:latest
    - name: docker push
      run: |
        docker push dagomes/api:latest
        docker push dagomes/mediasoup:latest
        docker push dagomes/frontend:latest
