video {
  height: 100%;
  width: 100%;
}

.modal-device {
  left: 0;
  z-index: 1; /* Sit on top */
  max-width:400px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video_div_card {
  height:'100%';
  max-width:400;
  width: '100%';
  overflow: 'auto';
  display: 'inline-block';
}